
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HogeschoolPXL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>
    <header>
     
        <div class="d-flex bg-dark text-white p-2">
            <span class="navbar-brand flex-grow-1 ml-2">
             
                
                 <a class="btn btn-block link-light border-white" asp-area="" asp-controller="Inschrijving" asp-action="Index"  >Inschrijving</a>
                
             
                <a class="btn btn-block link-light border-white" asp-area="" asp-controller="Handboek" asp-action="Index">Handboek</a>
               
                <a class="btn btn-block link-light border-white" asp-controller="Student" asp-action="Index">Students</a>
                <a class="btn btn-block link-light border-white" asp-controller="AcademieJaars" asp-action="Index">AcademiJaar</a>
              
               
                <a class="btn btn-block link-light border-white" asp-controller="Lector" asp-action="Index">Lector</a>
                <a class="btn btn-block link-light border-white" asp-controller="Vaks" asp-action="Index">Vak</a>
                

               
            </span>
            
            <a background-color="danger"  asp-controller="Account" asp-action="Register">Register</a>
            <a background-color="success"  asp-controller="Account" asp-action="Login">Login</a>
            <a background-color="warning"  asp-controller="Account" asp-action="Logout">Logout</a>
            <a background-color="primary"  asp-controller="Account" asp-action="Identity">Identity</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_partial_footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
