<footer class="footer mb-0">
	<div class="waves">
		<div class="wave" id="wave1"></div>
		<div class="wave" id="wave2"></div>
		<div class="wave" id="wave3"></div>
		<div class="wave" id="wave4"></div>
	</div>
	<a href="https://www.pxl.be/"><img src="~/Images/pxl_logo.png" height="40" /></a>
	
		
        <a class="menu__link text-center" asp-page="/Portfolio/Index">PORTFOLIO</a>
		
	
	<p style="opacity: 0.75;">Vahid Khosrowshahi</p>

</footer>