@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
        <img src="~/Images/pxl.jpg" class="shadow-lg p-3 bg-white rounded "/>
        <h1 class="display-3">Vahid Khosrowshai</h1>
        
</div>
